---
layout: layout

---
  <!-- Google Analytics -->
    {% include analytics.html %}

  <div id="wrap">
 
 <section id="about">

	<div class="container">
	  <div class="avatar">
	   <a href="{{ site.url }}"> 
	   <img class="img-circle" src="{{ site.url }}static/img/{{ site.avatar }}" alt="Responsive image" width="130" height="130">
	  </a>
	  </div>
	  <h1><a href="{{ site.url }}"> <strong> {{ site.author }} <strong></a></h1>
	  <h4>{{site.tagline}}</h4>
	</div>
</section>  
{% include header.html %}

<section id="about">
<div class="containersize">
  <div class="test test-default">
    <div class="test-body">
	<h2>ABOUT</h2>
		<h5> test*******************************
I am a Masters student at Michigan state university, working to estimate biomass using LiDAR data********
******************************
******************************
***********************************************
******************************
***********************************************
******************************
***********************************************
******************************
***********************************************
******************************
***********************************************
******************************
***********************************************
******************************
***********************************************
******************************
***********************************************
******************************
***********************************************
******************************
*****************</h5>
		</div>
  </div>
  <hr>
</div>
</section>
  {% include social.html %}
 </div>
 
