---
layout: layout

---
  <!-- Google Analytics -->
    {% include analytics.html %}

  <div id="wrap">
 
 <section id="about">

	<div class="container">
	  <div class="avatar">
	   <a href="{{ site.baseurl}}/home.html"> 
	   <img class="img-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Responsive image" width="130" height="130">
	  </a>
	  </div>
	  <h1><a href="{{ site.baseurl}}/home.html"> <strong> {{ site.author }} <strong></a></h1>
	  <h4>{{site.tagline}}</h4>
	</div>
</section>  
{% include header.html %}

<section id="about">
<div class="containersize">
  <div class="test test-default">
    <div class="test-body">
	<h2>ABOUT</h2>
		<h5> 
Greetings everyone!<p> 
As a PhD student, my research revolves around comprehending carbon dynamics, ecosystem services, and their spatial characterization using spatial data and carbon modeling. I integrate various disciplines like ecology, spatial data science, GIS, and modeling approaches to investigate how changes in land use can affect terrestrial ecosystems. My goal is to combine my knowledge of spatial data science with my expertise in GIS and remote sensing to develop efficient models of environmental change.<p>

Besides my research, I am passionate about emerging geospatial technologies to monitor environmental resources. I am always looking for innovative ways to use geospatial data to gain insights into climate change. I enjoy sharing my thoughts on these topics on my blog. I hope to contribute to ongoing research and promote sustainability by developing informed decisions and strategies to combat climate change and disturbance effects on forest resources.<br>

Currently, I am working on a project that evaluates optimizing carbon sequestration for the southeastern United States using ecosystem process-based modeling. Additionally, I am seeking data resources to better understand changes in belowground processes and soil carbon dynamics due to human activities. Our aim is to identify effective management practices that promote soil carbon sequestration enhancement.<br>

On my personal blog, I share my thoughts and ideas around my research work, the world of ecology, data science, and GIS. I hope to connect with readers, discuss science, sustainability, and life in research, and explore how scientific data and research can help create a better future for our planet.<br>

I am thrilled to be a part of this incredible journey and hopeful that my work will contribute towards a better understanding of our environment. Thank you for visiting my page! <br>
</h5>
		</div>
  </div>
  <hr>
</div>
</section>
  {% include social.html %}
 </div>
 
