---
layout: layout

---
  <!-- Google Analytics -->
    {% include analytics.html %}

  <div id="wrap">
 
 <section id="about">

	<div class="container">
	  <div class="avatar">
	   <a href="{{ site.baseurl}}/home.html"> 
	   <img class="img-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Responsive image" width="130" height="130">
	  </a>
	  </div>
	  <h1><a href="{{ site.baseurl}}/home.html"> <strong> {{ site.author }} <strong></a></h1>
	  <h4>{{site.tagline}}</h4>
	</div>
</section>  
{% include header.html %}

<section id="about">
<div class="containersize">
  <div class="test test-default">
    <div class="test-body">
	<h2>ABOUT</h2>
		<h5> 
Hello everyone! I am a PhD student, my research focuses on understanding carbon dynamics, ecosystem services of terrestrial biomes and their spatial characterization using spatial data and carbon modeling. I specialize in using spatial data to understand the patterns and mechanisms of biogeochemical cycling. I strive to combine my knowledge of spatial data science with my expertise in GIS and remote sensing to develop efficient models of environmental change. 

In addition to my research interests, I am also passionate about the emerging geospatial technologies to monitor environmental resources. I am always looking for innovative ways to use geospatial data to gain insights into climate change, and I enjoy sharing my thoughts on these topics in this blog. I hope to contribute to the ongoing research to develop informed decisions and strategies to combat climate change and disturbance effects on forest resources and promote sustainability.

I'm currently working on a project that uses ecosystem process-based modeling to evaluate optimizing carbon sequestration for the southeastern United States. Additionally, I am also trying to find data resources to better understand changes in belowground processes and soil carbon dynamics due to disturbances caused by human activities.

On my personal blog, I share my thoughts and ideas around my research work, world of ecology, data science and GIS. Through this blog, I hope to connect with readers, discuss science, sustainability, and life in research and how we can use scientific data and research to create a better future for our planet.

I’m really excited about being part of this amazing journey and hope that my work can contribute towards a better understanding of our environment. Thank you for visiting my page! 
</h5>
		</div>
  </div>
  <hr>
</div>
</section>
  {% include social.html %}
 </div>
 
