---
layout: layout

---
    <!-- Google Analytics -->
    {% include analytics.html %}
	
  <div id="wrap">
 
 <section id="about">

	<div class="container">
	  <div class="avatar">
	   <a href="{{ site.baseurl}}/home.html"> 
	   <img class="img-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Responsive image" width="130" height="130">
	  </a>
	  </div>
	  <h1><a href="{{ site.baseurl}}/home.html"> <strong> {{ site.author }} <strong></a></h1>
<div class="tagline">
	  <h4>{{site.tagline}}</h4>
	</div>
</div>
</section>  
{% include header.html %}

<section id="about">
<div class="containersize">
  <div class="test test-default">
    <div class="test-body">
	<h2>ABOUT</h2>
		<h5> 
Greetings everyone!<p> 
As a Ph.D. student, my research focuses on understanding carbon dynamics and ecosystem services, with a particular emphasis on their spatial characterization using spatial data and carbon modeling. My work draws from ecology, spatial data science, GIS, and ecosystem modeling disciplines to investigate how disturbance regimes and land use management impact terrestrial ecosystems. My goal is to combine my expertise in spatial data science with GIS and remote sensing to develop efficient models of environmental change.<p>

In addition to my research, I am passionate about emerging geospatial technologies to monitor environmental resources. I am always looking for innovative ways to use geospatial data to gain insights into climate change. I hope to contribute to ongoing research and promote sustainability by developing informed decisions and strategies to combat climate change and disturbance effects on forest resources.<p>

Currently, I am working on a project that optimizes carbon sequestration for the southeastern United States using ecosystem process-based modeling. Additionally, I am seeking data resources to understand changes in belowground processes and soil carbon dynamics resulting from anthropogenic disturbances. We aim to identify effective management practices that promote soil carbon sequestration enhancement.<p>

In this blog, I will share my thoughts on my research work and ideas about ecology, data science, and GIS, where I hope to connect with readers and discuss science, sustainability, and life in research.<p>

I am excited to be part of this incredible journey and optimistic that my work will contribute to a better understanding of our environment.<p> Thank you for visiting my page! <p>
</h5>
		</div>
  </div>
  <hr>
</div>
</section>
  {% include social.html %}
 </div>