---
layout: layout
---
<!-- Google Analytics -->
    {% include analytics.html %}

  <div id="wrap">
 
 <section id="about">

	<div class="container">
	  <div class="avatar">
	   <a href="{{ site.baseurl }}"> 
	   <img class="img-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Responsive image" width="130" height="130">
	  </a>
	  </div>
	  <h1><a href="{{ site.baseurl }}"> <strong> {{ site.author }} <strong></a></h1>
	  <h4>{{site.tagline}}</h4>
	</div>
</section>  
{% include header.html %}

<section id="post">
<div class="containersize">
<div class="test test-default">
		<div class="test-body">
<div class="blog-post">
		<h3>
		  <a href=#top>{{ page.title }}</a>
		</h3>
	</div>
	<div class="blog-title">
		<h4>
		<i class="fa fa-user" aria-hidden="true" ></i> By Manaswini Ganjam  &nbsp;&nbsp;&nbsp;&nbsp; 
		<i class="fa fa-calendar-o" aria-hidden="true"></i> {{ page.date | date: "%B %e, %Y" }}
		
		</h4>
	</div>
			<div class="blogpost">
			  {{ content }}
   <div class="blog-title">
	<h4>
		{% for tag in page.tags %}
			 <span class="label label-success">{{ tag }}</span>
			{% endfor %}
		</h4>
		</div>
			   <hr>   
			   <div class="related-posts">
				   <h5>Related Posts</h5>
				   {% for post in site.related_posts limit:3 %}
						<div class="row">
							 <div class="col-sm-4 col-md-4 col-lg-4">
								 <h6 style="text-align: right">
								 	{{ post.date | date: "%B %e, %Y" }}
								 </h6>
							 </div>
							 <div class="col-sm-8 col-md-8 col-lg-8">
								 <h6 style="text-align: left">
								 	<strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong>
								 </h6>
							 </div>
						</div>
					{% endfor %}
			   </div>
			</div>
	{% include disqus.html %}
	</div>
	</div>
</div>
</section>
  {% include social.html %}
	 </div>
