---
layout: layout
title: publications
---
<!-- Google Analytics -->
    {% include analytics.html %}

  <div id="wrap">
 
 <section id="about">

	<div class="container">
	  <div class="avatar">
	   <a href="{{ site.baseurl}}/home.html"> 
	   <img class="img-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Responsive image" width="130" height="130">
	  </a>
	  </div>
	  <h1><a href="{{ site.baseurl}}/home.html"> <strong> {{ site.author }} <strong></a></h1>
<div class="tagline">
	  <h4>{{site.tagline}}</h4>
	</div>
</div>
</section>  
{% include header.html %}

<section id="publications">
<div class="containersize">
  <div class="test test-default">
    <div class="test-body">
	 <h2>PUBLICATIONS</h2>
	    <h5>
		Ganjam M., Baker J.S., Aguilos M., & Merganičová K. "Maximizing net ecosystem productivity: integrating chronosequence analysis and ecosystem 
		modeling across contrasting biomes in North America". Frontiers in Forests and Global Change, 8:1702442 (2026). doi: 10.3389/ffgc.2025.1702442 &nbsp;&nbsp;
		<strong><a href="https://doi.org/10.1088/1748-9326/ae0057" target="_blank">PDF</a></strong>
		</h5>
		<h5>
		Aguilos, M., Sun, G., Bulluck, J., Shi, M., Han, X., Carter, C., Brannum, K., Middlebrough, B., Watts, J., Webb, J., Whitley, Ganjam, M., Liu, N., Baniya,
		B., Mitra, B., Prajapati, P., Minick, K., McNulty, S., Noormets, A., & King, J. “Tree mortality provides early warning sign of ecosystem functional 
		transition in coastal freshwater forested wetlands". Environmental Research Letters, 19(9), 094017 (2025). doi: 10.1088/1748-9326/ae0057 &nbsp;&nbsp;
		<strong><a href="https://doi.org/10.1088/1748-9326/ae0057" target="_blank">PDF</a></strong>
		</h5>	
		<h5>
		Fuller, M.R., Ganjam, M., Baker, J.S. et al. "Advancing forest carbon projections requires improved convergence between ecological and economic models".
		Carbon Balance and Management 20, 2 (2025). doi: 10.1186/s13021-024-00290-0 &nbsp;&nbsp;
		<strong><a href="https://link-springer-com.prox.lib.ncsu.edu/article/10.1186/s13021-024-00290-0" target="_blank">PDF</a></strong>
		</h5>
		<h5>
		Manaswini, G., and Reddy, C,S., “Geospatial monitoring and prioritization of forest fire incidences in Andhra Pradesh, India”. 
		Environmental monitoring and assessment 187.10 (2015):1-12. doi: 10.1007/s10661-015-4821-y &nbsp;&nbsp;
		<strong><a href="https://link.springer.com/article/10.1007/s10661-015-4821-y" target="_blank">PDF</a></strong>
		</h5>
		<h5>
		Reddy, C.S., Manaswini, G., Satish, K.V., Sonali Singh., Jha, C.S., Dadhwal V,K. “Conservation priorities of forest ecosystems: Evaluation of deforestation and degradation hotspots using geospatial techniques”. 
		Ecological Engineering volume 91 :333–342 (2016). doi: 10.1016/j.ecoleng.2016.03.007 &nbsp;&nbsp;
		<strong><a href="https://www.sciencedirect.com/science/article/abs/pii/S0925857416301562" target="_blank">PDF</a></strong>
		</h5>
    	<h5>
		Reddy, C.S., Manaswini, G., Jha, C.S., Diwakar, P.G., & Dadhwal, V.K. “Development of national database on long-term deforestation in Sri Lanka”. Journal of the Indian Society of Remote Sensing, 
		1-12 (2016). doi: 10.1007/s12524-016-0636-8 &nbsp;&nbsp;
		<strong><a href="https://link.springer.com/article/10.1007/s12524-016-0636-8" target="_blank">PDF</a></strong>
		</h5>
		<h5>
		Reddy, C.S., Jha, C.S., Manaswini, G., Alekhya, V.V.L.P., Vazeed Pasha, S., Satish, K.V., Diwakar,  P. G., & Dadhwal V,K. “Nationwide assessment of forest burnt area in India using Resourcesat-2 AWiFS data”. 
		Current Science (2017). doi:10.18520/CS/V112/I07/1521-1532 &nbsp;&nbsp;
		<strong><a href="https://www.researchgate.net/profile/Chandra_Jha/publication/315835800_Nationwide_assessment_of_forest_burnt_area_in_India_using_Resourcesat-2_AWiFS_data/links/58eb1237458515e30dcfbb6b/Nationwide-assessment-of-forest-burnt-area-in-India-using-Resourcesat-2-AWiFS-data.pdf" target="_blank">PDF</a></strong>
		</h5>
		<h5>
		Jakkula, M., Guruhappa, H., Manaswini, G., & Srivastava, K. “Tsunami forces acting on ocean structures: 
		A synthetic study”. Journal of Indian Geophysical Union, 21(6), 482-489 (2017). &nbsp;&nbsp;
		<strong><a href="https://www.researchgate.net/publication/323545716_Tsunami_forces_acting_on_ocean_structures_A_synthetic_study#fullTextFileContent" target="_blank">PDF</a></strong>
		</h5>
    </div>
  </div>
  <hr>
</div>
</section>
  {% include social.html %}
 </div>

 
